<!DOCTYPE html>
<html>
<head>
    <title>Medical Report Results</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Medical Report</h1>

    <h2>Description</h2>
    <p class="suggestion1">{{ suggestion1 }}</p>

    <h2>Diagnosis</h2>
    <p class="suggestion2">{{ suggestion2 }}</p>

    <h2>Precautions</h2>
    <p class="suggestion3">{{ suggestion3 }}</p>

    <h2>Follow-up Recommendations</h2>
    <p class="suggestion4">{{ suggestion4 }}</p>

    <a href="/">Back to form</a>
</body>
</html>
